.hero {
    background: url('/images/bm_trail.jpg');
}
.hero-inner {
    margin-top: 70px;
}

.hero h1 {
    /* Text styles */
    font-size: 4em;
    text-align: center;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.hero .btn {
    width: 150px;
    
    /* Padding and margins */
    padding: 1em;
    margin-top: 50px;
    margin-left: auto;
    margin-right: auto;
    
    /* Text styles */
    color: white;
    text-decoration: none;
    
    /* Border styles */
    border: 3px solid white;
    border-radius: 20px;
    
    /* Background styles */
    background-color: #47C6FF;
}

.hero-desc {
    height: 50vh;
    color: white;
    display: flex;
    justify-content: center;
    align-items: start;
}