.information {
    justify-content: center;
    display: flex;
    height: 90vh;
}

.information h1 {
    font-size: 4em;
    text-align: center;
    align-items: center;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}